body {
    position: relative;
}

footer {
    width: 100%;
    background: white;
    padding: 100px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    border-top: 1px solid var(--border-color);
}

footer div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: underline;
}

footer p {
    opacity: 0.4;
}

.icons {
    flex-direction: row;
    gap: 20px;
}
.icons svg {
    height: 25px;
    width: 25px;
    cursor: pointer;
}
