@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --primary-color: #3861E7;
    --border-color: #EFF2F5;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Container */

.container {
    flex-grow: 1;
    min-height: 80vh;
    gap: 3rem;
    padding: 2rem 2rem;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD6E4;
    border-radius: 8px;
}

/* Coins */

table {
    min-width: 1200px;
    padding: 0 12px;
    border-collapse: collapse;
}

.crypto-list {
    overflow: auto;
    flex-grow: 1;
    margin: 0 auto;
    align-self: center;
}

.table-row th:first-child,
.table-row th:nth-child(2),
.table-row td:first-child,
.table-row td:nth-child(2) {
    text-align: left;
    position: sticky;
}

.table-row td:first-child {
    color: #7f838a;
}

.table-row th:nth-child(2) {
    width: 200px;
}

.table-row th {
    text-align: right;
    font-size: 13px;
    padding: 12px;
}

.table-row {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.table-row td {
    font-weight: bold;
    text-align: right;
    height: 85px;
    padding: 12px;
}

.coin-info {
    cursor: pointer;
}

.coin-info:hover {
    background-color: #F8FAFD;
}

/* Pages */

.pages {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pages p {
    font-weight: bold;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.pages p:hover {
    background-color: var(--border-color);
}

.pages div{
    display: flex;
    align-items: center;
    cursor: pointer;
}