@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --primary-color: #3861E7;
    --border-color: #EFF2F5;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Container */

.container {
    flex-grow: 1;
    min-height: 80vh;
    gap: 3rem;
    padding: 2rem 2rem;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD6E4;
    border-radius: 8px;
}

/* Coins */

.hero-title h3 {
    opacity: 0.6;
}

.loader {
    height: 100%;
    width: 100vw;
    background: white url(../assets/loading.gif) no-repeat center center;
    z-index: 2;
}

table {
    min-width: 1200px;
    padding: 0 12px;
    border-collapse: collapse;
}

.crypto-list {
    overflow: auto;
    flex-grow: 1;
    margin: 0 auto;
    align-self: center;
}

.table-row th:first-child,
.table-row th:nth-child(2),
.table-row td:first-child,
.table-row td:nth-child(2) {
    text-align: left;
}

td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-row td:first-child {
    color: #7f838a;
}

.table-row th:nth-child(2) {
    width: 200px;
}

.table-row th {
    text-align: right;
    font-size: 13px;
    padding: 12px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table-row {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.table-row td {
    font-weight: bold;
    text-align: right;
    height: 85px;
    padding: 12px;
}

.coin-info {
    cursor: pointer;
}

.coin-info:hover {
    background-color: #F8FAFD;
}

.positive::before {
    content: "+";
}

.negative {
    color: #E64F42;
}


.percent::after {
    content: "%";
}

.display-none {
    display: none !important;
}

/* Pages */

.pages {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pages p {
    font-weight: bold;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.pages p:hover {
    background-color: var(--border-color);
}

.pages div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.positive {
    color: #6FC984;
}

.hero-title {
    position: sticky;
    inset: 0 0 0 0;
}

.pages {
    position: sticky;
    inset: 0 0 0 0;
}

/* Coin details */

.coin-details {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    flex-grow: 1;
}

.coin-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.data-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.timeframe-container {
    background-color: var(--border-color);
    padding: 4px;
    border-radius: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="radio"] {
    display: none;
}

.timeframe-container label {
    flex-grow: 1;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #777779;
    font-weight: 700;
    border-radius: 8px;
}

.timeframe-container label:hover {
    background-color: #F8FAFD;
}

.checked {
    background-color: #fff;
}

.chart-container {
    height: 40vh;
}

.other-data,
.delta,
.other {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-rows: minmax(40px, auto);
    gap: 10px;
}

.other-data > div > div{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #EFF2F5;
    padding: 12px;
    border-radius: 12px;
    font-size: 13px;
}

.data-name {
    font-weight: 600;
    color: #777779;
}

.data {
    font-weight: 700;
}