@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3861E7;
    --border-color: #EFF2F5;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Container */

.container {
    min-height: 90vh;
    gap: 3rem;
    padding: 2rem 2rem;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: auto;
}

::-webkit-scrollbar {
    height: 1px;
    width: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD6E4;
    border-radius: 8px;
}

/* Coins */

.hero-title h3 {
    opacity: 0.6;
}

.loader {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

table {
    min-width: 1200px;
    padding: 0 12px;
    border-collapse: collapse;
}

.crypto-list {
    overflow: auto;
    flex-grow: 1;
    margin: 0 auto;
    align-self: center;
}

.table-row th:first-child,
.table-row th:nth-child(2),
.table-row td:first-child,
.table-row td:nth-child(2) {
    text-align: left;
}

td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-row td:first-child {
    color: #7f838a;
}

.table-row th:nth-child(2) {
    width: 200px;
}

.table-row th {
    text-align: right;
    font-size: 12px;
    padding: 12px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table-row td {
    font-size: 14px;
}

.table-row {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.table-row td {
    font-weight: bold;
    text-align: right;
    height: 85px;
    padding: 12px;
}

.coin-info {
    cursor: pointer;
}

.coin-info:hover {
    background-color: #F8FAFD;
}

.positive::before {
    content: "+";
}

.negative {
    color: #E64F42;
}


.percent::after {
    content: "%";
}

.display-none {
    display: none !important;
}

/* Pages */

.pages {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pages p {
    font-weight: bold;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.active-page {
    background-color: var(--border-color);
}

.pages p:hover {
    background-color: var(--border-color);
}

.pages div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.positive {
    color: #6FC984;
}

.hero-title {
    position: sticky;
    inset: 0 0 0 0;
}

.pages {
    position: sticky;
    inset: 0 0 0 0;
}

/* Coin details */

.coin-details {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    flex-grow: 1;
}

.coin-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.data-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.timeframe-container {
    background-color: var(--border-color);
    padding: 4px;
    border-radius: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="radio"] {
    display: none;
}

.timeframe-container label {
    flex-grow: 1;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #777779;
    font-weight: 700;
    border-radius: 8px;
}

.timeframe-container label:hover {
    background-color: #F8FAFD;
}

.watch svg {
    width: 18px;
    height: 18px;
    fill: #777779;
}
.watch {
    background-color: var(--border-color);
    padding: 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.watch .watched {
    fill: #F4B97F;
}

.checked {
    background-color: #fff;
}

.chart-container {
    height: 40vh;
}

.other-data,
.delta,
.other {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-rows: minmax(40px, auto);
    gap: 10px;
}

.other-data > div > div{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #EFF2F5;
    padding: 12px;
    border-radius: 12px;
    font-size: 13px;
}

.data-name {
    font-weight: 600;
    color: #777779;
}

.data {
    font-weight: 700;
}

/* Login / Register */

.login-or-register {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.auth-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.active-auth {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 8px;
}

.form {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    max-width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }